{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<!-- Slider Area Start-->
<div class="slider-area ">
    <div class="slider-active">
        <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-md-9 ">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".3s">Finding <br>the best art everyday<br> with Fotojenico</h1>
                            <p data-animation="fadeInUp" data-delay=".5s"></p>
                            <!-- Slider btn -->
                           <div class="slider-btns">
                                <!-- Hero-btn -->
                                <a data-animation="fadeInLeft" data-delay=".8s" href="#download" class="btn radius-btn">Coming Soon</a>
                           </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero__img d-none d-lg-block f-right" data-animation="fadeInRight" data-delay=".2s">
                            <img src="{% static 'home/img/hero/hero_right.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End -->

<!-- Application Screenshots Start
<div class="applic-apps section-padding2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single-cases-info mb-30">
                    <h3>Application Screenshots</h3>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9">
                <div class="app-active owl-carousel">
                    <div class="single-cases-img">
                        <img src="{% static 'home/img/gallery/App1.png' %}" alt="">
                    </div>
                    <div class="single-cases-img">
                        <img src="{% static 'home/img/gallery/App2.png' %}" alt="">
                    </div>
                    <div class="single-cases-img">
                        <img src="{% static 'home/img/gallery/App3.png' %}" alt="">
                    </div>
                    <div class="single-cases-img">
                        <img src="{% static 'home/img/gallery/App2.png' %}" alt="">
                    </div>
                    <div class="single-cases-img">
                        <img src="{% static 'home/img/gallery/App1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 Application Screenshots End -->

<!-- Our Customer Start
<div class="our-customer section-padd-top30">
    <div class="container-fluid">
    <div class="our-customer-wrapper">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8">
                    <div class="section-tittle text-center">
                        <h2>What Our Customers<br> Have to Say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="customar-active dot-style d-flex dot-style">
                        <div class="single-customer mb-100">
                            <div class="what-img">
                                <img src="{% static 'home/img/shape/man1.png' %}" alt="">
                            </div>
                            <div class="what-cap">
                                <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                <p>Utenim ad minim veniam quisnostrud exercitation ullamcolabor nisiut aliquip ex ea commodo consequat duis aute irure dolor in represse.</p>
                            </div>
                        </div>

                        <div class="single-customer mb-100">
                            <div class="what-img">
                                <img src="{% static 'home/img/shape/man2.png' %}" alt="">
                            </div>
                            <div class="what-cap">
                                <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                <p>Utenim ad minim veniam quisnostrud exercitation ullamcolabor nisiut aliquip ex ea commodo consequat duis aute irure dolor in represse.</p>
                            </div>
                        </div>

                        <div class="single-customer mb-100">
                            <div class="what-img">
                                <img src="{% static 'home/img/shape/man3.png' %}" alt="">
                            </div>
                            <div class="what-cap">
                                <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                <p>Utenim ad minim veniam quisnostrud exercitation ullamcolabor nisiut aliquip ex ea commodo consequat duis aute irure dolor in represse.</p>
                            </div>
                        </div>

                        <div class="single-customer mb-100">
                            <div class="what-img">
                                <img src="{% static 'home/img/shape/man2.png' %}" alt="">
                            </div>
                            <div class="what-cap">
                                <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                <p>Utenim ad minim veniam quisnostrud exercitation ullamcolabor nisiut aliquip ex ea commodo consequat duis aute irure dolor in represse.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
 Our Customer End -->

<!-- Download Start-->
<div class="available-app-area" id="download">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="app-caption">
                    <div class="section-tittle section-tittle3">
                        <h2>Fotojenico is coming soon to Android and IOS</h2>
                        <div class="app-btn">
                            <a data-animation="fadeInLeft" href="https://forms.gle/1UHJM58NhFZCiE9e7" class="btn radius-btn">Pre-Register Now <i class="fas fa-arrow-right"></i></a>
                            <!--
                            <a href="#" class="app-btn2"><img src="{% static 'home/img/shape/app_btn2.png' %}" alt=""></a>
                            <a href="#" class="app-btn2"><img src="{% static 'home/img/shape/app_btn1.png' %}" alt=""></a>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="app-img">
                    <img src="{% static 'home/img/shape/available-app.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Shape -->
    <div class="app-shape">
        <img src="{% static 'home/img/shape/app-shape-top.png' %}" alt="" class="app-shape-top heartbeat d-none d-lg-block">
        <img src="{% static 'home/img/shape/app-shape-left.png' %}" alt="" class="app-shape-left d-none d-xl-block">
        <img src="{% static 'home/img/shape/app-shape-right.png' %}" alt="" class="app-shape-right bounce-animate ">
    </div>
</div>
<!-- Download End-->
{% endblock %}
